
/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) ***REMOVED***
    
}

/* tablets */
@media (max-width: 991px) ***REMOVED***

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) ***REMOVED***
    #hero-area .contents h1***REMOVED***
        font-size: 28px;
***REMOVED***
    .item-boxes h4***REMOVED***
        font-size: 18px;
***REMOVED***
    #features .show-box img***REMOVED***
        display: none;
***REMOVED***
    .pricing-table .pricing-details ul li***REMOVED***
        font-size: 12px;
***REMOVED***
    .counters .facts-item .fact-count h4***REMOVED***
        font-size: 14px;
***REMOVED***
    .single-team***REMOVED***
        margin-bottom: 30px;
***REMOVED***
    .meta-tags span***REMOVED***
        margin-right: 3px;
***REMOVED***
    .meta-tags span i***REMOVED***
        margin-right: 0px;
***REMOVED***
    #blog .blog-item-text h3***REMOVED***
        font-size: 14px;
        line-height: 20px;
***REMOVED***

}

/* mobile or only mobile */
@media (max-width: 767px) ***REMOVED***
    .section-header .section-title***REMOVED***
        font-size: 20px;
***REMOVED***
    #hero-area .contents***REMOVED***
        padding: 100px 0 80px;
***REMOVED***
    #hero-area .contents h1***REMOVED***
        font-size: 18px;
        line-height: 30px;
***REMOVED***
    #features .show-box img***REMOVED***
        display: none;
***REMOVED***
    #features .box-item .text h4***REMOVED***
        font-size: 14px;
***REMOVED***
    .controls***REMOVED***
        margin: 0px;
        .btn***REMOVED***
            font-size: 13px;
            padding: 7px 7px;
    ***REMOVED***
***REMOVED***
    .video-promo .video-promo-content h2***REMOVED***
        font-size: 22px;
***REMOVED***
    .pricing-table***REMOVED***
        margin-bottom: 15px;
***REMOVED***
    .counters .facts-item***REMOVED***
        margin-bottom: 30px;
***REMOVED***
    .single-team***REMOVED***
        margin-bottom: 15px;
***REMOVED***
    .contact-us***REMOVED***
        margin-bottom: 30px;
***REMOVED***
    .contact-us h3***REMOVED***
        font-size: 28px;
***REMOVED***
    .footer-links li a***REMOVED***
        margin-right: 10px;
***REMOVED***
    .copyright***REMOVED***
        float: left;
***REMOVED***

}