<!DOCTYPE html>
<html>
	<head>
		<title>Hall of Fame - SIMPICSED</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
		<style>
      :root {
      --widthpic: 150px;
      --heightpic: 100px;
      }
      .grandchampion {
        /*text-indent: 50px;*/
      }
      .flagpicture {
        width: 200px;
        height: 133px;
        margin-left: 5px;
      }
      .winner {
        width: 450px;
        height: 300px;
        display: block;
        margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;
      }
      .facultylogo {
        width: 100px;
        height: 100px;
        margin-left: 20px;
      }
		</style>
	</head>
	<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Hall of Fame</h1>
          <div class="list-group" role="tablist">
            <%
              let year = ['2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012'];
              year.forEach((e, i) => {
            %>
                <a class="list-group-item list-group-item-action <%= i == 0 ? 'active' : '' %>" id="list-<%= e %>" data-toggle="list" href="#tab-<%= e %>" role="tab"><%= e %></a>
            <%
              });
            %>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-2019" role="tabpanel" aria-labelledby="list-2019">
              <div class="card mt-4" id="2019winner">
						<div class="card-header">
						SIMPIC 2019
						</div>
						<div class="card-body">
							<img class="winner" src="img/winner/2019.jpg" alt="SIMPIC 2019 Winner">
							<!--
							<h2 class="card-title">Result </h2>
							<h3>Grand champion : <br></h3>
							<div class="row">
								<img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University">
								<h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Khon Kaen University (1), Thailand</h3> 
							</div>
							<h4>1<sup>st</sup> runner up : <br></h4>
							<div class="row">
								<img class="facultylogo" src="img/faculty/UMG.gif" alt="Faculty of Medicine, Universitas Gadjah Mada">
								<h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Gadjah Mada (1), Indonesia</h4> 
							</div>
							<h4>2<sup>nd</sup> runner up : <br></h4>
							<div class="row">
								<img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University">
								<h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Khon Kaen University (2), Thailand</h4> 
							</div>
							-->					
							<hr>
						</div>				
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2018" role="tabpanel" aria-labelledby="list-2018">
              <div class="card mt-4" id="2018winner">
							<div class="card-header">
							SIMPIC 2018
							</div>
							<div class="card-body">
								<!-- <img class="winner" src="img/winner/2017.jpg" alt="SIMPIC 2016 Winner"> -->
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UMG.gif" alt="Faculty of Medicine, Khon Kaen University">
								 <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Gadjah Mada (1), Indonesia</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <!-- <img class="facultylogo" src="img/faculty/" alt="Faculty of Medicine, Universitas Gadjah Mada"> -->
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, DeLa Salle Health Sciences Institute, Philippines</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <!-- <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University"> -->
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Indonesia(1), Indonesia</h4> 
								</div>						
								<hr>
							</div>				
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2017" role="tabpanel" aria-labelledby="list-2017">
              <div class="card mt-4" id="2017winner">
							<div class="card-header">
							SIMPIC 2017
							</div>
							<div class="card-body">
								<img class="winner" src="img/winner/2017.jpg" alt="SIMPIC 2016 Winner">
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University">
								 <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Khon Kaen University (1), Thailand</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UMG.gif" alt="Faculty of Medicine, Universitas Gadjah Mada">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Gadjah Mada (1), Indonesia</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Khon Kaen University (2), Thailand</h4> 
								</div>						
								<hr>
							</div>				
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2016" role="tabpanel" aria-labelledby="list-2016">
              <div class="card mt-4" id="2016winner">
							<div class="card-header">
							SIMPIC 2016
							</div>
							<div class="card-body">
								<img class="winner" src="img/winner/2016.jpg" alt="SIMPIC 2016 Winner">
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine, Khon Kaen University	">
								 <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Khon Kaen University (KKU2), Thailand</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UB.png" alt="Faculty of Medicine, Brawijaya University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Brawijaya University (UB), Indonesia</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UI.png" alt="Universitas Indonesia">
								 <h4 class="grandchampion col-md-9 align-self-center">Universitas Indonesia (UI1), Indonesia</h4> 
								</div>
								<h4>3<sup>rd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UNAIR.png" alt="Faculty of Medicine, Universitas Airlangga">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Airlangga (UNAIR1), Indonesia</h4> 
								</div>									
								<hr>
								<p class="card-text">
								 <h4> SIMPIC 2016 Competition </h4>
								 52 Participating Teams from 10 Countries
								</p>
							</div>
							<div class="card-header">
								Participating team
							</div>
							<div class="card-body">
						
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/bangladesh.png" alt="Bangladesh Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Bangladesh </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Khwaja Yunus Ali Medical College<br>
										•	Ibrahim Medical College

									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/cambodia.gif" alt="Cambodia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Cambodia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	International University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/china.png" alt="China Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> China </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Soochow University<br>
										•	Southern Medical University<br>
										•	Zhejiang University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/indonesia.png" alt="Indonesia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Indonesia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Airlangga University<br>
										•	Universitas Gadjah Mada<br>
										•	Universitas Indonesia<br>
										•	Hang Tuah University<br>
										•	Diponegoro University<br>
										•	Brawijaya University<br>
										•	Andalas University<br>
										•	University of Sumatera Utara<br>
										•	Lambung Mangurat University<br>
										•	Universitas Padjadjaran<br>
										•	Faculty of Medicine, State islamic university syarif hidayatullah jakarta<br>
										•	Faculty of Medicine, Mulawarman University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/japan.png" alt="Japan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Japan </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Osaka Medical College
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/malaysia.png" alt="Malaysia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Malaysia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	University of Malaya Medical School<br>
										•	University Putra Malaysia
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/mongolia.png" alt="Mongolia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Mongolia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Mongolian National University of Medical Science
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/philippines.png" alt="Philippines Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Philippines </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	College of Medicine, De La Salle Health Sciences Institute
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/taiwan.png" alt="Taiwan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Taiwan	</h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Chung Shan Medical University

									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center ">
									<div class="row">
										<img class="flagpicture justify-content-center" src="img/flag/thailand.png" alt="Thailand Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h2> Thailand </h2>
									</div>
								</div>
									<p class="col-md-8">
										•	Siriraj Hospital, Mahidol University<br>
										•	Prince of Songkhla University<br>
										•	Chiang Mai University<br>
										•	Naresuan University<br>
										•	Vajira Hospital, Navamindradhiraj University<br>
										•	Princess of Naradhiwas University<br>
										•	School of Medicine, Walailak University<br>
										•	Ubonratchathani University<br>
										•	Phramongkutklao College of Medicine<br>
										•	Faculty of Medicine, Thammasat University<br>
										•	Khon Kaen University

									</p>
								</div>
							</div>
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2015" role="tabpanel" aria-labelledby="list-2015">
              <div class="card mt-4" id="2015winner">
							<div class="card-header">
							SIMPIC 2015
							</div>
							<div class="card-body">
								<img class="winner" src="img/winner/2015.jpg" alt="SIMPIC 2015 Winner">
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/SI.jpg" alt="Faculty of Medicine, Siriraj Hospital, Mahidol University">
								 <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Siriraj Hospital,<br> Mahidol University, Thailand</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UNAIR.png" alt="Faculty of Medicine, Airlangga University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Airlangga University, Indonesia</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/CMU.jpg" alt="Faculty of Medicine, Chiang Mai University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Chiang Mai University, Thailand</h4> 
								</div>
								<h4>3<sup>rd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UI.png" alt="Faculty of Medicine, Universitas Indonesia">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine, Universitas Indonesia, Indonesia</h4> 
								</div>									
								<hr>
								<p class="card-text">
								 <h4> SIMPIC 2015 Competition </h4>
								 36 Participating Teams from 10 Countries
								</p>
							</div>
							<div class="card-header">
								Participating team
							</div>
							<div class="card-body">
							<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/australia.png" alt="Australia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Australia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Sydney Medical School
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/bangladesh.png" alt="Bangladesh Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Bangladesh </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Khwaja Yunus Ali Medical College<br>
										•	Ibrahim Medical College
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/china.png" alt="China Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> China </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Soochow University<br>
										•	Southern Medical University<br>
										•	Kun Ming Medical University<br>
										•	Zhejiang University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/indonesia.png" alt="Indonesia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Indonesia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Airlangga University<br>
										•	Universitas Gadjah Mada<br>
										•	Universitas Indonesia<br>
										•	Hang Tuah University<br>
										•	Diponegoro University<br>
										•	Brawijaya University<br>
										•	Andalas University<br>
										•	University of Sumatera Utara<br>
										•	Lambung Mangurat University<br>
										•	Universitas Padjadjaran<br>
										•	Sriwijaya University<br>
										•	Christian University of Indonesia<br>
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/japan.png" alt="Japan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Japan </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Osaka Medical College
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/malaysia.png" alt="Malaysia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Malaysia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Perdana University Graduate School Of Medicine<br>
										•	University Putra Malaysia<br>
										•	School Of Medical Sciences, Universiti Sains Malaysia

									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/mongolia.png" alt="Mongolia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Mongolia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Mongolian National University of Medical Science
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/myanmar.png" alt="Myanmar Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Myanmar </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	University of Medicine, Mandalay
									</p>
								</div>
								<hr>
								
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/taiwan.png" alt="Taiwan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Taiwan	</h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
									•	Taipei Medical University<br>
									•	Chung Shan Medical University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center ">
									<div class="row">
										<img class="flagpicture justify-content-center" src="img/flag/thailand.png" alt="Thailand Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h2> Thailand </h2>
									</div>
								</div>
									<p class="col-md-8">
										•	Siriraj Hospital, Mahidol University<br>
										•	Prince of Songkhla University<br>
										•	Chiang Mai University<br>
										•	Naresuan University<br>
										•	Vajira Hospital, Navamindradhiraj University<br>
										•	Princess of Naradhiwas University<br>
										•	School of Medicine, Walailak University<br>
										•	Ubonratchathani University<br>
										•	Phramongkutklao College of Medicine<br>
									</p>
								</div>
							</div>
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2014" role="tabpanel" aria-labelledby="list-2014">
              <div class="card mt-4" id="2014winner">
							<div class="card-header">
							SIMPIC 2014
							</div>
							<div class="card-body">
								<img class="winner" src="img/winner/2014.jpg" alt="SIMPIC 2014 Winner">
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/UMG.gif" alt="Universitas Gadja Mada">
								 <h3 class="grandchampion col-md-9 align-self-center">Universitas Gadja Mada, Indonesia</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/CMU.jpg" alt="Chiang Mai University">
								 <h4 class="grandchampion col-md-9 align-self-center">Chiang Mai University, Thailand</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/KKU.png" alt="Khonkaen University">
								 <h4 class="grandchampion col-md-9 align-self-center">Khonkaen University, Thailand</h4> 
								</div>	
								<hr>
								<p class="card-text">
								 <h4> SIMPIC 2014 Competition </h4>
								 32 Participating Teams from 8 Countries
								</p>
							</div>
							<div class="card-header">
								Participating team
							</div>
							<div class="card-body">
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/australia.png" alt="Australia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Australia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	University of Queensland
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/bangladesh.png" alt="Bangladesh Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Bangladesh </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Ibrahim Medical College
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/china.png" alt="China Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> China </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Southern Medical University<br>
										•	Kun Ming Medical University<br>
										•	Sun Yat-sen University<br>
										•	Zhejiang University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/indonesia.png" alt="Indonesia Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Indonesia </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Tanjungpura University<br>
										•	Airlangga University<br>
										•	Universitas Gadjah Mada<br>
										•	Hang Tuah University<br>
										•	Diponegoro University<br>
										•	Brawijaya University<br>
										•	Andalas University<br>
										•	Lambung Mangurat University<br>
										•	Universitas Padjadjaran
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/japan.png" alt="Japan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Japan </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Osaka Medical College
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/taiwan.png" alt="Taiwan Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Taiwan	</h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Taipei Medical University<br>
										•	Chung Shan Medical University<br>
										•	Tzu Chi University

									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center ">
									<div class="row">
										<img class="flagpicture justify-content-center" src="img/flag/thailand.png" alt="Thailand Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h2> Thailand </h2>
									</div>
								</div>
									<p class="col-md-8">
										•	Chiang Mai University<br>
										•	Faculty of Medicine Ramathibodi Hospital, Mahidol University<br>
										•	Faculty of Medicine Siriraj Hospital, Mahidol University<br>
										•	Khon Kaen University<br>
										•	Mahasarakam University<br>
										•	Navamindradhiraj University<br>
										•	Princess of Naradhiwas University<br>
										•	Prince of Songkla University<br>
										•	Srinakharinwirot University<br>
										•	Medical Education Center, Maharaj Nakhon Ratchasima Hospital,Mahidol University<br>
										•	Ubon Ratchathani University<br>
										•	Walailak University
									</p>
								</div>
								<hr>
								<div class="row">
								<div class="col-md-3 align-self-center">
									<div class="row justify-content-center">
										<img class="flagpicture" src="img/flag/vietnam.png" alt="Vietnam Flag" align="left">
									</div>
									<div class="row justify-content-center">
										<h3> Vietnam </h3>
									</div>
								</div>
									<p class="col-md-8 align-self-center">
										•	Pham Ngoc Thach University
									</p>
								</div>
							</div>
					</div>
            </div>
            <div class="tab-pane fade" id="tab-2013" role="tabpanel" aria-labelledby="list-2013">
              <div class="card mt-4" id="2013winner">
                <div class="card-header">
                SIMPIC 2013
                </div>
                <div class="card-body">
                  <img class="winner" src="img/winner/2013.jpg" alt="SIMPIC 2013 Winner">
                  <h2 class="card-title">Result </h2>
                  <h3>Grand champion : <br></h3>
                  <div class="row">
                  <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine Khon Kaen University">
                  <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine Khon Kaen University, Thailand</h3> 
                  </div>
                  <h4>1<sup>st</sup> runner up : <br></h4>
                  <div class="row">
                  <img class="facultylogo" src="img/faculty/AIMST.png" alt="Faculty of Medicine AIMST University">
                  <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine AIMST University, Malaysia</h4> 
                  </div>
                  <h4>2<sup>nd</sup> runner up : <br></h4>
                  <div class="row">
                  <img class="facultylogo" src="img/faculty/SI.jpg" alt="Faculty of Medicine Siriraj Hospital, Mahidol University">
                  <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine Siriraj Hospital,<br> Mahidol University, Thailand</h4> 
                  </div>
                  <hr>
                  <p class="card-text">
                  <h4> SIMPIC 2013 Competition </h4>
                  34 Participating Teams from 12 Countries 
                  </p>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="tab-2012" role="tabpanel" aria-labelledby="list-2012">
              <div class="card mt-4">
							<div class="card-header">
							SIMPIC 2012
							</div>
							<div class="card-body">
								<h2 class="card-title">Result </h2>
								<h3>Grand champion : <br></h3>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/SI.jpg" alt="Faculty of Medicine Siriraj Hospital, Mahidol University">
								 <h3 class="grandchampion col-md-9 align-self-center">Faculty of Medicine Siriraj Hospital,<br> Mahidol University, Thailand</h3> 
								</div>
								<h4>1<sup>st</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/KKU.png" alt="Faculty of Medicine Khon Kaen University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine Khon Kaen University, Thailand</h4> 
								</div>
								<h4>2<sup>nd</sup> runner up : <br></h4>
								<div class="row">
								 <img class="facultylogo" src="img/faculty/AIMST.png" alt="Faculty of Medicine AIMST University">
								 <h4 class="grandchampion col-md-9 align-self-center">Faculty of Medicine AIMST University, Malaysia</h4> 
								</div>
								<hr>
								<p class="card-text">
								 <h4> SIMPIC 2012 Competition </h4>
								 23 Participating Teams from 10 Countries
								</p>
							</div>
					</div>
            </div>
          </div>
        </div>
      </div>
    </div>		
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- <script src="HoF.js"></script> -->
	</body>
</html>