<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs'); %>
    <title>Register/Login - SIMPIC 2020</title>
  </head>
  <body>
    <!-- Header Section Start -->
    <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="/" class="navbar-brand pt-0 mr-4"><img class="" src="https://storage.googleapis.com/simpic-web.appspot.com/public/logo.png" alt="SIMPIC Logo" ></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav w-100 justify-content-end">

              <li class="nav-item">
                <a class="nav-link login-a" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link register-a" style="display: none;" href="#">Register</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/">Back to Home</a>
              </li>
              
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li class="nav-item">
            <a class="nav-link login-a" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link register-a" style="display: none;" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Back to Home</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

    <div style="height: 86px; background:black;">
    </div>
    <div class="container pt-4">
      <br><br><br><br><br>
      <div id="register" class="row justify-content-center">
        <div class="col-lg-9">
          <h2>Register</h2>
          <br>
          <form method="post" action="/register">
            <div class="form-group">
              <label for="emailInput">Email</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Put your email here" name="email" required>
              <div class="valid-feedback">
                Valid email
              </div>
              <div class="invalid-feedback" id="emailInvalid">
              </div>
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input type="password" class="form-control" id="passwordInput" placeholder="password" name="password" required>
              <div class="invalid-feedback">
                Password must be at least 4 characters
              </div>
            </div>
            <div class="form-group">
              <label for="passwordConfirmInput">Confirm password</label>
              <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm password" name="passwordConfirm" required>
              <div class="invalid-feedback">
                Password not match
              </div>
            </div>
            <input name="token" id="token" class="is-valid" style="display:none;">
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
      <div id="login" class="row justify-content-center" style="display: none;">
        <div class="col-lg-9">
          <h2>Sign in</h2>
          <br>
          <form method="post" action="/login" id="login-form">
            <div class="form-group">
              <label for="emailInput">Email</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Login email" name="email" required>
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('includes/body.ejs'); %>
    <script>
      $('.login-a').click(function (e) {
        e.preventDefault();
        $('#register').slideUp(function (e) {
          $('#login').slideDown();
          $('.login-a').hide();
          $('.register-a').show();
        });
      });

      $('.register-a').click(function (e) {
        e.preventDefault();
        $('#login').slideUp(function (e) {
          $('#register').slideDown();
          $('.login-a').show();
          $('.register-a').hide();
        });
      });

      const $emailInput = $('#emailInput');
      // const $formSubmit = $('#formSubmit');
      const $emailInvalid = $('#emailInvalid');
      const $passwordInput = $('#passwordInput');
      const $passwordConfirmInput = $('#passwordConfirmInput');
      [$emailInput, $passwordConfirmInput, $passwordInput].forEach(e => {
        e.focus(event => {
          e.removeClass('is-valid');
          e.removeClass('is-invalid');
        });
      });
      $emailInput.on('focusout', event => {
        if($emailInput[0].checkValidity() === true) {
          $.get('/register/validemail', { email: $emailInput.val() }, data => {
            // console.log(data.alreadyUsed);
            if ($emailInput.hasClass('is-valid') || $emailInput.hasClass('is-invalid')) return ;
            if (data.error) {
              $emailInput.addClass('is-invalid');
              $emailInvalid.html('Some error!');
            }
            else if (data.alreadyUsed) {
              $emailInput.addClass('is-invalid');
              $emailInvalid.html('Email already used');
            }
            else {
              $emailInput.addClass('is-valid');
            }
          });
        }
        else {
          $emailInput.addClass('is-invalid');
          $emailInvalid.html('Invalid email');
        }
      });
      $passwordInput.on('focus', event => {
        if($passwordConfirmInput.hasClass('is-valid') || $passwordConfirmInput.hasClass('is-invalid')) {
          $passwordConfirmInput.removeClass('is-valid');
          $passwordConfirmInput.removeClass('is-invalid');
          $passwordConfirmInput.addClass('is-validating');
        }
      });
      $passwordInput.on('focusout', event => {
        if($passwordConfirmInput.hasClass('is-validating')) {
          $passwordConfirmInput.trigger('focusout');
        }
        if($passwordInput.val().length < 4) $passwordInput.addClass('is-invalid');
        else $passwordInput.addClass('is-valid');
      });
      $passwordConfirmInput.on('focusout', event => {
        if($passwordInput.val() != $passwordConfirmInput.val()) $passwordConfirmInput.addClass('is-invalid');
        else $passwordConfirmInput.addClass('is-valid');
      });
      /* $('#login-form').on('submit', function(event) {
        if ($('#login-form input:not(.is-valid)').length > 0) {
          event.preventDefault();
          event.stopPropagation();
          $('#login-form input:not(.is-valid)').each(function(i) {
            $(this).trigger('focusout');
          });
        }
        else $('input[type=submit]', this).attr('disabled', 'disabled');
      }); */
    </script>
  </body>
</html>