:root
***REMOVED***
 --widthpic: 150px;
 --heightpic: 100px;
}
.grandchampion***REMOVED***
	/*text-indent: 50px;*/
}
.flagpicture***REMOVED***
	width: 200px;
	height: 133px;
	margin-left: 5px;
}
.winner***REMOVED***
	width: 450px;
	height: 300px;
	display: block;
	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.facultylogo***REMOVED***
	width: 100px;
	height: 100px;
	margin-left: 20px;
}