<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs'); %>
    <style>
      img {
        max-width: 100%;
      }
    </style>
    <title>Activities - SIMPIC 2020</title>
  </head>
  <body>
    <%- include('nav.ejs'); %>
    <div style="height: 100px; background: black;"></div>

    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <br><br>
      <h5>Experience Bangkok</h5><hr>
<br>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/sight.jpg">
<br>
<br>

<p>
  Hearing about “Thailand” you might think of amazing dishes, bustling shopping centers, unique culture, exquisite temples or maybe simply Thais’ smiles and kindness. It is true that you can experience them while traveling on your own. But what if you can get through all of them with authentically Thai people! That is why in SIMPIC, we highly recommend this program to you, the “Sightseeing Tour.”
In this course, you will uncover the unseen and surprising things which are hidden in many places exclusively chosen by us. You will get a chance to choose the places in provided routes in order to make sure that your trip will definitely fit your desire. Above all, traveling in a half-day tour in Bangkok with your foreign accompanies will surely be the most memorable experience!
So, do not miss this “Sightseeing Tour” and see you in SIMPIC2020! We are all waiting to welcome you to Thailand
</p>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/sight2.jpg">
<br><br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/sight3.jpg">
<br><br>
<br><br><br><br>

<h5>Experience Thai Cultures & Foods</h5><hr>
<br>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/village.jpg">
<br>
<br>

<p>
  Thailand is famous of its culture which accumulated for thousand of years. SIMPIC will bring you a Thai traditional culture, where you will enjoy various Thai activities, games, performances and especially foods that you cannot find anywhere else.
Identically, SIMPIC is famous for its lines of authentic Thai food. As Thai people, we can never let our guests leave without a contented belly. All lunch and dinner, provided during the competition, have been selected and prepared from north to south, west to east provinces all around. With a little spicy kick, rich herbal aroma, and exotic tropical fruits, the dining experience is sure to give you a lot of surprises! 
<br><br>
Be prepared for the gastronomic wonder!
</p>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/village2.jpg">
<br><br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/village3.jpg">
<br><br>
<br><br>
<br><br>

<h5>Experience Siriraj</h5><hr>
<br>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/hospital1.jpg">
<br>
<br>

<p>
  Siriraj hospital stands as the national hospital and medical school for more than 120 years. Siriraj hospital houses famous museums and must-see places which are always visited by a lot of tourists both from Thailand and other countries.
<br><br>
Let us give you a warm welcome with an exclusive trip throughout the hospital. From museum with fascinating exhibitions to laboratory where students are trained with state-of-the-art educational technologies. You will be shown around these locations for free of charge by our guides who will kindly provide you with information.</p>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/hospital2.jpg">
<br><br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/hospital3.jpg">
<br><br>
<br><br>
<br><br>

<h5>Creative activities</h5><hr>
<br>
<br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/creative1.jpg">
<br>
<br>

<p>Relax and Have fun! See the beauty of diversity. Cultivate the relationship that you will not be able to get anywhere. Create a wonderful day with your friends.</p>
<br><br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/creative2.jpg">
<br><br>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/creative3.jpg">
<br><br>
<br><br>
<br><br>

</ol>
        </div>
      </div>
    </div>
    <%- include('../includes/body.ejs'); %>
  </body>
</html>