<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs'); %>
    <style>
      img {
        max-width: 100%;
      }
    </style>
    <title>Activities - SIMPICSED</title>
  </head>
  <body>
    <%- include('nav.ejs'); %>
    <div style="height: 100px; background: black;"></div>

    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col col-lg-9">

<h4>Get into the world of COVID-19 through our exclusive workshop!</h4><hr/>
<p>
  Do you know the secret behind Thai COVID-19 success?<br/>
  Learn how Thailand deals with the pandemic in the lecture by Pr. Dr. Prasit Watanapa, dean of our faculty, and the adviser for Thai government to tackle the COVID-19 crisis.
</p>
<p>
  Experience the life of COVID-19 staffs through hands-on activities<br/>
  Learn how to save life and in the mean time, save yourself by using PPE properly. Get to know more about laboratory investigation and diagnosis. Practice the skills that you might need in this epidemic.
</p>
<p>
  Bored of being a medical staff?<br/>
  Become a part of the strategic team who integrates all knowledge in order to protect your nation from economic recession while balancing public health priorities. Who knows, your team might be the one who brainstorm out the best infectious disease measure in the world!
</p>
<br/>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/hospital2.jpg" alt="workshop" style="width: 100%;">
<br/>
<br/>
<br/>

<h4>Parties</h4><hr/>
<p>
After a long day of intensive competition, there is nothing better than wrapping up your day with the ‘PARTIES’. Unwind by taking in the stunning panoramic view of Chao Phraya river, the lifeblood of Bangkokians. Enjoy the unforgettable moments only available at our private parties with exquisite shows as well as meeting new friends from all around the globe. DO NOT MISS!!
</p>
<br/>
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/parties.jpg" alt="parties" style="width: 100%;">
        </div>
      </div>
    </div>
    <br/>
    <%- include('../includes/body.ejs'); %>
  </body>
</html>