<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs'); %>
    <title>Competition - SIMPICSED</title>
  </head>
  <body>
    <%- include('nav.ejs'); %>
    <div style="height: 100px; background: black;"></div>
    
    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <div class="well">
<br><h4>Competition Rules</h4>
<hr>

<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/competition1.png" style="width: 100%;">
<img src="https://storage.googleapis.com/simpic-web.appspot.com/public/information/competition2.png" style="width: 100%;">
<!-- <br><br>
<p>For more information, please keep eyes on our SIMPIC 2020 Rule book that is going to be published soon.</p> -->
        </div>
      </div>
    </div>
    <%- include('../includes/body.ejs'); %>
  </body>
</html>