<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs'); %>
    <title>Registration - SIMPIC 2020</title>
  </head>
  <body>
    <%- include('nav.ejs'); %>

    <div style="height: 86px; background:black;">
    </div>
    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <br><h4>Registration</h4>
          <hr>
          There are two ways to participate in SIMPIC 2020.
          <br/>
          <br/>
          <ol>
            <li>If you want to challenge yourself and compete with medical students from all over the world, you can talk it out with your friends and join us as a team of 4 medical students and 1 (optional) advisor. <i>Maximum of one representative team per medical school is allowed to register for the competition.</i></li>
            <li>If you are interested in SIMPIC, but not in the competition, you can join us as an observer to root for the teams from your school, take part in memorable activities, and bring lots of smiles back home :)</li>
          </ol>
          <br/>
          Only around 50 teams will be selected to join the competition based on their responses on short essays and motivation letters.
          <br/>
          <br/>
          An observer can be anyone at all and doesn't have to belong to any medical school.
          <br/>
          <br/>
          Registration and payment will be done online. Each team or observer is required to sign up an account. Once you create your account, sign in and fill out the application. Please remember your username and password as you will have to log in to your account again during the payment period. One account is only for one team or one observer.
          <br/>
          <br/>
          <br/>
          <br/>

          <h4>Documents</h4>
          <hr>

          In order to complete your application, you are required to upload these three documents.
          <br/>
          <br/>

          <div class="alert alert-info" role="alert">
            <strong>Letter of Approval</strong><br/>

            A statement verifying your status as representatives from your medical school. You will need approval to confirm that your team is the official representative of your school. 
            <a href="https://drive.google.com/file/d/1GnsxorMmmfJNVriA7mkPISpFP9zTrVLz/view" target="_blank">Download form</a>
            <br><br>
            <i>The file should be uploaded in pdf or jpg format</i>
          </div>

          <div class="alert alert-info" role="alert">
            <strong>Motivation Letter</strong><br>

            A motivation letter expressing goals for joining the competition. Please tell us why you want to be a part of SIMPIC family and how this would enhance your international experience.
            <br><br>
            <i>The file should be uploaded in pdf or jpg format</i>
          </div>

          <div class="alert alert-info" role="alert">
            <strong>Short Essay</strong><br>

            Each team is required to write an essay of 500 words or less responding to the following questions:
            <br><br>
            <ol>
              <li class="mb-2">If you are assigned to organize vaccination program for medical students in your own country, which kind of vaccine do you think is the most crucial, and is there any additional vaccination that should be considered? State your reasons and opinions.</li>
              <li>How do you think vaccination program for medical students can support and assist in preventive strategy in controlling infectious diseases?</li>
            </ol>
            <i>The file should be uploaded in pdf format</i>
          </div>
          <br><br><br>

          <h4>Fees</h4>
          <hr>
          <div class="alert alert-info" role="alert">
            <strong>Team</strong>
            <br>
            Early period: Oct 01 - Oct 07, 2019
            790 USD* or 26,500 THB* per team
            <br>
            Regular period: Oct 08 - Oct 21, 2019
            850 USD* or 24,500 THB* per team
          </div>

          <div class="alert alert-info" role="alert">
            <strong>Observer</strong>
            <br>
            360 USD* or 11,500 THB* per person
          </div>
          The registration fees cover the following expenses:
          <ol>
            <li>Sightseeing</li>
            <li>All meals and snacks</li>
            <li>Hotel for 4 nights during Mar 13-17, 2020</li>
            <li>Transportation between SD Avenue Hotel and Siriraj Hospital</li>
            <li>Workshops and recreations</li>
            <li>Cultural and other interesting activities</li>
          </ol>

          <p>* Registration fee excludes the flight tickets and transportation neither leaving nor arriving to the airport. Importantly, we recommend you to book a return flight on Mar 17, 2020 or later.</p>

          <div class="alert alert-danger" role="alert">
            The payment must be made via PayPal or international money transfer during the payment period (Payment confirmation on the official website within 10 days upon the proof of payment submission). Late payment may lead to disqualification.
          </div>
          <br><br>

          <h4>Timeline</h4>
          <hr>
          <div class="alert alert-info" role="alert">
            <strong>Team</strong>
            <br>

            Application period:<br>
            　　　Early period:      Oct 01 - Oct 07, 2019<br>
            　　　Regular period:   Oct 08 - Oct 21, 2019<br>
            Announcement of qualified teams: Nov 25, 2019<br>
            Payment period and extra information submission: Nov 26 - Dec 24, 2019<br>
            Official announcement of competitors list: Dec 25, 2019<br>
          </div>

          <div class="alert alert-info" role="alert">
            <strong>Observer</strong>
            <br>
            Application period: Oct 01 - Dec 16, 2019<br>
            Payment period: Nov 26 - Dec 24, 2019<br>

          </div>
        </div>
      </div>
    </div>
    <%- include('../includes/body.ejs'); %>
  </body>
</html>